# ==========================================
# LEETCODE
# ==========================================

LEETCODE_SESSION=YOUR_LEETCODE_SESSION_COOKIE

LEETCODE_CSRF_TOKEN=YOUR_LEETCODE_CSRF_TOKEN


# ==========================================
# GITHUB
# ==========================================

GITHUB_TOKEN=YOUR_GITHUB_TOKEN

GITHUB_REPO=nikil3406/LeetCode

GITHUB_BRANCH=main